# enable S3 log rotation for environments other than development and production

files:
  "/var/tmp/create-s3-log-rotation-symlink.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      . /etc/profile
      [ -n "$RACK_ENV" ] || exit 0
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_LOG_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_log_dir)
      ln -sf $EB_APP_DEPLOY_DIR/log/$RACK_ENV.log $EB_APP_LOG_DIR/$RACK_ENV.log

container_commands:
  01-create-s3-log-rotation-symlink:
    command: "/var/tmp/create-s3-log-rotation-symlink.sh"
