option_settings:

  - namespace: aws:autoscaling:launchconfiguration
    option_name: SSHSourceRestriction
    value: tcp,22,22,0.0.0.0/0

  - namespace: aws:rds:dbinstance
    option_name: DBEngine
    value: mysql

  - namespace: aws:rds:dbinstance
    option_name: DBEngineVersion
    value: 5.6.29

  - namespace: aws:rds:dbinstance
    option_name: DBInstanceClass
    value: db.t1.micro

  - namespace: aws:rds:dbinstance
    option_name: DBAllocatedStorage
    value: 5
