files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyDCCArACCQDjgBDUV+jN0zANBgkqhkiG9w0BAQsFADCBpTELMAkGA1UEBhMC
      VVMxFjAUBgNVBAgMDU1hc3NhY2h1c2V0dHMxDzANBgNVBAcMBkJvc3RvbjEbMBkG
      A1UECgwSSGFydmFyZCBVbml2ZXJzaXR5MTEwLwYDVQQLDChIYXJ2YXJkIE1lZGlj
      YWwgU2Nob29sLCBIYXJ2YXJkIENhdGFseXN0MR0wGwYDVQQDDBRjYXRhbHlzdC5o
      YXJ2YXJkLmVkdTAeFw0xNjA4MTAxOTQ3MDhaFw0xNzA4MTAxOTQ3MDhaMIGlMQsw
      CQYDVQQGEwJVUzEWMBQGA1UECAwNTWFzc2FjaHVzZXR0czEPMA0GA1UEBwwGQm9z
      dG9uMRswGQYDVQQKDBJIYXJ2YXJkIFVuaXZlcnNpdHkxMTAvBgNVBAsMKEhhcnZh
      cmQgTWVkaWNhbCBTY2hvb2wsIEhhcnZhcmQgQ2F0YWx5c3QxHTAbBgNVBAMMFGNh
      dGFseXN0LmhhcnZhcmQuZWR1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEAw/+MVW33ENHTK+EFtWWJoVpAAWAUYrLRxC8imovINPuJ61Ax+0vwCNzt64Yv
      3h4rHW/wcubuiCE3GXjGxiAzTOpdMxliBmzdBCCCsh1VG9thn1R6BJ5e3rm+pZDk
      JJXcuHlDUHk8r/5rM1HOS5IAEMTXil3oYc6sqVNeARGKYhliuOTXea1UF31SQgwv
      WuNIle3urrPM9PPVfE25Epmgi8+fI3RIfdNhkAQgQyJ+5/sVbglBMzNKsaFR/801
      Ny8r+Z6c5erLC29t3YX17Xr47Qu/WqDs/fErUW7jIln/XvHeNrIbsRU0zxnUuoBk
      2YLQzOvNC9mxfjAzOWC61wx+8wIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQCwMHx9
      1aJ3FVkTpjGJlWbaj6SsSugqb3RnLzjWU+9x0+a1ldWNDqCB7iLWcvF4p7zf29iX
      9DyoodmJlwI6kqpt4Dhq5MJzCR1FY7G/TcyviAnWs+3lJpV6IlXsVFQ1g+DIoKup
      qGAGoOLR51uX1bIWJ9czkvFaT3Dh5ZOJE2NGGNwK5cS0xr4QM+NJviQms9Jx5xco
      hywp5yGYAotjc8MoIVRHjk6cSRmBg7HC30YF7fvjhYNnj4+sayVieNnwFA4nEL43
      PSN9M4kizs8Uu4xJhCh1UHRgHBHBRRIDieFHZJQE2P1LwZIto/wovMYlPSusXrkb
      ZBJ2OUZv+bUxYYfx
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEwAIBADANBgkqhkiG9w0BAQEFAASCBKowggSmAgEAAoIBAQDD/4xVbfcQ0dMr
      4QW1ZYmhWkABYBRistHELyKai8g0+4nrUDH7S/AI3O3rhi/eHisdb/By5u6IITcZ
      eMbGIDNM6l0zGWIGbN0EIIKyHVUb22GfVHoEnl7eub6lkOQkldy4eUNQeTyv/msz
      Uc5LkgAQxNeKXehhzqypU14BEYpiGWK45Nd5rVQXfVJCDC9a40iV7e6us8z089V8
      TbkSmaCLz58jdEh902GQBCBDIn7n+xVuCUEzM0qxoVH/zTU3Lyv5npzl6ssLb23d
      hfXtevjtC79aoOz98StRbuMiWf9e8d42shuxFTTPGdS6gGTZgtDM680L2bF+MDM5
      YLrXDH7zAgMBAAECggEBAL+On2VPWE1EBZO5FY84cc8VGcE+Wi4sfv+y4asSOtYt
      kZo+gtsMWMkQxCeQum/oJFNc+DAUq8S4UdW/SOaSyhC+beBnSnrlIw3JiHL0YB4d
      x8elFKw27JnaCA5hEdj/7v0M51FbbIjFq5g4t9r8ErxQ5igBqAEPsYi8Rf/dWNaO
      Kya9p7inPoxnyBxJUDfy6MU66QKyJdDkKT4GE7W/C8GBY/Q8Wqo3yaUZALGCpehp
      5psBchTSexpRqKJerfpm0jLIN3i3M8nOtkibWIo42A4BuUlQFFdPM9RLXQAK5hDX
      1vY2NZLg2XVRj2Jt2Z2MWrsDzMKtkzEit2leqXmqjYECgYEA4QqpuKqiJID8lnQe
      WFccLFmeLFWBYQjYddqRfMIpSRx/jFjrae1fJhlItx4jlDPLLvNTkmFFxDz416Jj
      qcTE+4Lk4I9auO5p5K78637fRi2kVw14WBZsff1lk0/w3/k6Qs/o1rCzQ5OHBASA
      dyDd6ehA4M0Ux/4ZrnNmIL/JpKMCgYEA3vYOrr8f8LJHawmqtVtn8+ZZximz8j++
      OYan8O+oj9W0e2M9yGVgDqYPHI6DPl4dIq7LkJRcD0kK4dlEMppQsAihG1Awc09z
      XcOHGguMEd/+jSvaJIzTZoowBvSbdRKgBufsspaODJPr8KcswYkbXVPY4uo0XbcP
      RjtY5d40EXECgYEA3pfleLuO1fyf21HQEiFXxKaARentp0VQloIzFewXWjHOF8x8
      TrJ0QwMPYdF178mrWC1mpIuCrrCAkwoU+n+fOAgoy9YALpvkMkbD9UvxHUFYJKM2
      Pisv9Q8HwcZ4w5GJhzyPWow9RMJP8jFhwHPKDOumALXZsFgunteWVR5fHXECgYEA
      3qQwpzj9SRqNjIo7qBvdo0Ub0nDkWvxiFQms/EAlP3Q0ZJ4GHO12TUpvfqGk1wud
      5ntLlVVA1Jaowjx2CF3mQtJrJl4d85eb6T6N02lCdrsJcqkejS7/Dr7hFKD/95kg
      qaTAzNjgghjYGxik7aHe7IQE6RrcLdTV8Njkfa40qlECgYEApxvNp4t3gW30GLYc
      psJ4Vt6qbCpVDvzeN+LjJwPcMs/FloP52qIKf7+Q2wK+NQfY0GXItTOKmBjOC3p2
      j/3Kkxggg65UT9k18WchJC5CS/s3sHxFBnlEWT6jVcuQgBzkhK6944tEVVjoxlTn
      pB/BG8S8Lju6Z5zd68F2OuZtvoo=
      -----END PRIVATE KEY-----
