files:
  /var/tmp/mkmycnf.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      [ $(id -u) -eq 0 ] || exit 0
      . /etc/profile
      MYCNF=/home/ec2-user/.my.cnf
      cat <<EOF >| $MYCNF
      [client]
      host=$RDS_HOSTNAME
      user=$RDS_USERNAME
      password=$RDS_PASSWORD
      default-character-set=utf8
      [mysql]
      pager=less -niSX
      EOF
      chown ec2-user: $MYCNF
      chmod 600 $MYCNF

container_commands:
  01-mkmycnf:
    command: /var/tmp/mkmycnf.sh
