# force redirection from HTTP to HTTPS
#
# inject the following into Passenger Standalone's
# templated nginx config in http{server{...}}:
#
# if ($scheme = http) {
#   return 301 https://$http_host$request_uri;
# }

files:
  "/var/tmp/nginx-http-to-https-redirect.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      . /etc/profile
      CONFIG="$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)/conf/nginx_config_healthd.erb"
      perl \
      -0777 \
      -i.prehttpsredirect \
      -p \
      -e 's~\n( +)<% for app in \@apps %>\n( +)server {\n( +)# EB_MODIFICATION begin~\n\1<% for app in \@apps %>\n\2server {\n\3if (\$scheme = http) {\n\3    return 301 https://\$http_host\$request_uri;\n\3}\n\3# EB_MODIFICATION begin~s' \
      $CONFIG

commands:
  01-nginx-http-to-https-redirect:
    command: "/var/tmp/nginx-http-to-https-redirect.sh"
