# Run generic rake tasks

files:
  /var/tmp/rake.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      [ $(id -u) -eq 0 ] || exit 0
      . /etc/profile
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      [ -d "$EB_APP_DEPLOY_DIR" ] || exit 0
      [ -n "$EB_APP_USER" ] || exit 0
      TASK=$1
      [ -n "$TASK" ] || exit 0
      cd $EB_APP_DEPLOY_DIR
      sudo -u $EB_APP_USER sh -c ". /etc/profile && unset GEM_HOME && bundle exec rake $TASK"
