files:
  "/var/tmp/sudoers-no-requiretty.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      [ $(id -u) -eq 0 ] || exit
      chmod 640 /etc/sudoers
      sed -i 's/^Defaults\( *\)requiretty/#Defaults\1requiretty/' /etc/sudoers
      chmod 440 /etc/sudoers

commands:
  01-sudoers-no-requiretty:
    command: /var/tmp/sudoers-no-requiretty.sh
